table#farm(data-user='#{farm.userId}')
  tbody
    - for(var i = 0; i < 3; i++)
      tr
        - for(var j = 0; j < 3; j++)
          td.plot(data-plot='#{(i*3)+j}')
            .farm-plot
            .plot-controls
              if (farm.plots[(i*3)+j].isAvailable)
                button.plant Plant
              else
                button.buy $#{farm.plots[(i*3)+j].cost}

    //- tr
    //-   td.plot(data-plot='1')
    //-     button.plant Plant
    //-   td.plot(data-plot='2')
    //-     button.buy Buy
    //-   td.plot(data-plot='3')
    //-     button.buy Buy
    //- tr
    //-   td.plot(data-plot='4')
    //-     button.buy Buy
    //-   td.plot(data-plot='5')
    //-     button.buy Buy
    //-   td.plot(data-plot='6')
    //-     button.buy Buy
    //- tr
    //-   td.plot(data-plot='7')
    //-     button.buy Buy
    //-   td.plot(data-plot='8')
    //-     button.buy Buy
    //-   td.plot(data-plot='9')
    //-     button.buy Buy
