table#farmplots(data-user='#{farm.userId}')
  tbody
    - for(var i = 0; i < 3; i++)
      tr
        - for(var j = 0; j < 3; j++)
          td.plot(data-plot='#{(i*3)+j}')
            .farm-plot
            .plot-controls
              if (farm.plots[(i*3)+j].crop)
                if (farm.plots[(i*3)+j].crop.isMature)
                  button.harvest Harvest
              if (farm.plots[(i*3)+j].isGrowing)
                span= farm.plots[(i*3)+j].crop.type
              if (farm.plots[(i*3)+j].isAvailable)
                select#crop
                  option Corn
                  option Tobacco
                button.plant Plant
              if (!farm.plots[(i*3)+j].isGrowing && !farm.plots[(i*3)+j].isAvailable && !farm.plots[(i*3)+j].crop)
                button.buy $#{farm.plots[(i*3)+j].cost}
