extends ../shared/template

block content

  header
    h1 Game!
    #timer 01
    #controls
      input#username(type='text', autofocus=true, placeholder='Username')
      button#login Login

  #dashboard
  #farm
  //- #forest
  #inventory
  #market
  #workers

block scripts
  script(src='/js/es6/compiled/game.js')
